* {
    margin: 0;
    
}
body {
    background-color: gainsboro;   
}

header {
    padding: 20px;
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
}

.card{
    justify-content: space-between;
    background-color: white;
    align-content: center;
    align-self: center;
    margin: 35px;
    max-width: 448px;
    display: inline;
}

.card-info {
    display: flex;
    padding: 15px 0 15px 0;
    border: 50px;
    width: 100%;
    justify-content: space-between;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}

h3 {
    margin: 0 10px 0 10px;
}

h4 {
    margin: 0 10px 0 0;
    color: rgb(173, 173, 173);
}

p {
    padding: 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;

}





 
/*body {
    border: 0;
    background-color: gainsboro;
}
#one {
    background-color: white;
    text-align: center;
    padding: 5px 0px 5px 0;
}

#two {  
    display: flex;
    background-color: white;
    margin: 20px 0 20px 0;
}

.boxone {
    text-align: left;
    position: absolute;
}

.boxtwo {
    text-align: right;
    display: inline-flex;
}

*/















